* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 3px;
    min-height: 100vh;
}

.contenedor-columnas {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 35rem;
}

.columna {
    border: 2px solid gray;
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
    min-height: 100px;

}

.tarea {
    border: 1px solid black;
    background-color: salmon;
    margin-bottom: 1rem;
    padding: 2px;
    font-weight: 600;
}

#nav {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
}

#contenedor-btn-agregar {
    margin-left: auto;
    padding-right: 2px;
}

.titulo-columna {
    min-width: 100%;
    background-color: #00FF94;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin-bottom: 2px;
    border-bottom: 2px solid gray;
    font-size: large;
}

.card-header{
    display: flex;
    vertical-align: middle;
}

.delete-btn{
    margin-left: auto;
    box-sizing: border-box;
}


.titulo-tarea{
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
    vertical-align: bottom;
}

#modal {
    z-index: 999;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 20%;
    box-sizing: border-box;
    padding: 0px;
}

#contenido-modal {
    justify-items: center;
}

#modal-backdrop {
    position: absolute;
    z-index: 888;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0px;
    padding: 0px;
    border: 1px solid red;
    top: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    display: none;
    background-color: rgba(33, 26, 25, 0.4);
}